<article>
  <button (click)="back()" class="primary">back</button>

  @if (pokemon$ | async; as pokemon) {
    <h2>{{ pokemon?.name }}</h2>
    <p>Sprites:</p>

    <div class="sprites">
      @for(sprite of sprites; track $index) {
        @if (pokemon?.sprites?.[sprite]) {
          <img ngSrc="{{ pokemon?.sprites?.[sprite] }}"
               priority
               width="400"
               height="400"
               alt="{{ pokemon?.name }} {{ sprite.replace('_', ' ') }}"
          >
        }
      }
    </div>

    <p>Abilities:</p>
    <ul>
      @for(ability of pokemon?.abilities; track $index) {
        <li>{{ ability.ability.name }}</li>
      }
    </ul>
    <p>Base experience: {{ pokemon?.base_experience }}</p>
    <p>Height: {{ pokemon?.height }}</p>
    <p>Is Default: {{ pokemon?.is_default }}</p>
    <p>Order: {{ pokemon?.order }}</p>
    <p>Weight: {{ pokemon?.weight }}</p>
  }
</article>

<!--    <p>Game Indices: {{ pokemon?.game_indices | json }}</p>-->
<!--    <p>Height: {{ pokemon?.height }}</p>-->
<!--    <p>Held Items: {{ pokemon?.held_items | json }}</p>-->
<!--    <p>Moves: {{ pokemon?.moves | json }}</p>-->
<!--    <p>Order: {{ pokemon?.order }}</p>-->
<!--    <p>Past Abilities: {{ pokemon?.past_abilities | json }}</p>-->
<!--    <p>Past Types: {{ pokemon?.past_types | json }}</p>-->
<!--    <p>Species: {{ pokemon?.species | json }}</p>-->
<!--    <p>Sprites: {{ pokemon?.sprites | json }}</p>-->
<!--    <p>Stats: {{ pokemon?.stats | json }}</p>-->
<!--    <p>Types: {{ pokemon?.types | json }}</p>-->
<!--    <p>Weight: {{ pokemon?.weight }}</p>-->
